{ 
    BasedOnStyle: Google, 
    UseTab: Never, 
    IndentWidth: 4, 
    TabWidth: 4, 
    AllowShortIfStatementsOnASingleLine: false, 
    IndentCaseLabels: false, 
    ColumnLimit: 150,  
    AccessModifierOffset: -4, 
    NamespaceIndentation: All, 
    FixNamespaceComments: false,
    AllowShortFunctionsOnASingleLine: Empty,
    AllowShortLambdasOnASingleLine: Empty,
    AlignAfterOpenBracket: AlwaysBreak,
    AlignEscapedNewlines: Left,
    AlignTrailingComments: true,
    AlwaysBreakTemplateDeclarations: Yes,
    MaxEmptyLinesToKeep: 1,
}
